.GroupList {
  .Navigator {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
  }
  .Main {
    .team {
      width: 95%;
      height: 100px;
      margin: 50px auto;
      border: 1px solid;
      .up {
        height: 40%;
        background-color: #929bab;
      }
    }
  }
}
