.StudentList {
  .Navigator {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    .StudentList-Navigator-Left {
      font-weight: bold;
      font-size: 24px;
    }
  }
  .Main {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
  }
  .addStudent {
    padding-top: 20px;
    .site-tag-plus {
      background-color: #eeeeee;
      width: 100px;
      margin: 10px;
      border: 1px dashed;
      font-size: 18px;
    }
  }
}
